* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
    width: 100%;
}

.container-fluid-slider {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.container-img {
  max-width: 450px;
  max-height: auto;
}
.container-img img {
  width: 100%;
}
.fa-angle-down {
  font-size: 45px;
  transition: margin 0.4s;
}
.fa-angle-down:hover {
  margin-top: 20px;
}
#ico-slider {
    color: #fff;
}
.text-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-normal {
  background-color: #000;
}
.navbar-brand {
  color: white;
  align-items: center;
  margin: 0;
}
.nav-link {
  color: #fff;
  transition: background-color 200ms ease, color 200ms ease;
}
.nav-link:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}
.sobre-el-texto {
  width: 40%;
  text-align: justify;
  margin: 20px;
}
.container-fluid {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel {
  margin: 30px auto;
  width: 500px;
  height: 500px;
}
#discos {
    background-color: #000;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.spotify-reproductores {
    width: 50%;
    flex-wrap: wrap;
}
.spotify-reproductores iframe {
    margin: 5px;
}
#proyectos {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: justify;
    align-items: flex-start;
    margin-top: 20px;
}
.title {
    margin: 20px 0px;
}
#actividad-medios-negro {
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: #fff;
}
#actividad-medios-blanco {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a-videos {
    color: #fff;
}
.a-videos-negro {
    color: black;
}
.black-title, .white-title {
    font-size: 25px;
    font-weight: 600;
}
#canal-youtube {
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#clases-guitarra {
    background-color: #000000;
    align-items: flex-start;
    flex-direction: column;
}
.yellow-title {
    font-size: 2.5em;
    margin: 40px auto;
    color: rgb(255, 255, 255);
}
.contenedor-img-clases {
    max-width: 400px;
    height: auto;
}
.container-clases-guitarra {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.ul-clases {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;

}
.li-clases {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.contacto-clases {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0px;
}
.p-contact, .a-clases {
    color: #fff;
}
 
#contacto {
    margin-top: 15px;
    flex-direction: column;
    justify-content: space-evenly;
}
.fab, #i-contact {
    font-size: 45px;
    margin: 0px 20px;
    color: black;
}

.fas {
    color: #fff;
    font-size: 45px;
    margin: 0px 20px;
}
.container{
    width: 30%;
}
.title-contact {
    font-size: 2.5em;
}
.a-contact {
    color: black;

}
#delfi {
    height: 50px;
    background-color: black;
    color: white;
}
.a-delfi {
    color: white;
}
@media only screen and (max-width: 850px) {
    .nav-normal {
        display: none;
    }
    .container-fluid {
    flex-wrap: wrap;
    width: 100%;
    }
    #discos {
        margin: 5px 0px;
    }
    .sobre-el-texto {
        width: 100%;
    }
    h1{
        font-size: 2em;
    }
    .spotify-reproductores {
        width: 100%;
        justify-content: center;
    }
    .spotify-reproductores iframe {
        width: 100%;
    }
    h2 {
        font-size: 1.9em;
    }
    #proyectos {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .fab, .fas, #i-contact {
        font-size: 35px;
        margin: 0px 10px;
    }
    #actividad-medios-negro, #actividad-medios-blanco {
        align-content: flex-start;
        margin-top: 20px;
    }
    .yellow-title {
        font-size: 2em;
        margin: 10px 0px;
    }
    .container-clases-guitarra {
        flex-wrap: wrap;
    }
    .ul-clases {
        margin: 5px 0px;
    }
    .li-clases {
        font-size: 1em;
    }
    .contacto-clases {
        flex-direction: column;
    }
    #delfi {
        height: 10px;
    }
    #canal-youtube {
        margin: 10px 0px;
    }
    .video-youtube iframe {
        width: 310px;
        height: auto;
    }
}